
@import 'variables';

.app {
  min-height: 100vh;
  
  background-color: $background;
  color: $headerText;
}

.main {
  height: 100%;
  background-color: $background;
  margin: 0 40px;
  overflow: hidden;
}

.page-title {
  margin-left: 20px;
  color: $headerText;
}