
@import 'variables';

.app {
  width: 100%;
  min-height: 100vh;
  background-color: $background;
  color: $primary;
}

.main {
  width: 100%;
  height: 100%;
  background-color: $background;
  margin: 0 40px
}

.page-title {
  margin-left: 20px;
  color: $darkAccent;
}