@import '../styles/variables.scss';

.tree-container {
    width: 100vw;
    height: 100vh;
  }

  .node {
    position: relative;
    left: -10;
    top: -10;
    background-color: lightgrey;
  }

  svg .rd3t-node, svg .rd3t-leaf-node{
    stroke-width: 0px;
}