$background: #fff9bf;
$primary: #4fb830;
$header: #edb50c;
$darkAccent: #3f3f3f;
$headerText: #3f3f3f;

$new: cyan;
$inProgress: orange;
$complete: lightgreen;
$noStatus: red;

$experiment: green;
$outcome: magenta;
$vision: teal;
